<app-navbar [usermain]="usermain"></app-navbar>
<body>
  <main>
    <div class="title_text">
      <h3>Perfil de usuario</h3>
      <h1>Bienvenid@ <span>{{nombrecompleto()}}</span></h1>
    </div>
    <section class="info_usuario">
      <div class="photo_link" style="background-image: url({{usermain.link_foto_perfil}});">

      </div>
      <div class="info_text">
        <div class="container">
            <mat-form-field class="example-full-width">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="" value="{{usermain.nombre}}" readonly="true">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Apellido Paterno:</mat-label>
              <input matInput placeholder="" value="{{usermain.apellido_paterno}}" readonly="true">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Apellido Materno</mat-label>
              <input matInput placeholder="" value="{{usermain.apellido_materno}}" readonly="true">
            </mat-form-field>
        </div>
        <div class="container">
          <mat-form-field class="example-full-width">
            <mat-label>DNI</mat-label>
            <input matInput placeholder="" value="{{usermain.dni}}" readonly="true">
          </mat-form-field>
          <mat-form-field class="example-full-width-email">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="" value="{{usermain.correo}}" readonly="true">
          </mat-form-field>
        </div>
        <div class="container">
          <mat-form-field class="example-full-width-date">
            <mat-label>Fecha de afiliación</mat-label>
            <input matInput placeholder="" value="{{usermain.fecha_inscripcion}}" readonly="true">
          </mat-form-field>
          <mat-form-field class="example-full-width-date">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput placeholder="" value="{{usermain.fecha_nacimiento}}" readonly="true">
          </mat-form-field>
        </div>
      </div>
    </section>
  </main>
</body>
