@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

.mainregister{
    width: 60vw;
    font-family: 'Inter', sans-serif;
    font-weight: 400px;
}

.register_text{
    font-family: 'Inter', sans-serif;
    font-weight:bolder;
    text-align: center;
}

.img{
    height: 120vh;
    width: 40vw;
    background-image: url("https://i.postimg.cc/cLCH4YG7/pexels-taryn-elliott-9565728.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

main{
  display:flex;
  justify-content: center;
  align-items: center;
    width: 100%;
    height: 100%;
}
.button_register{
    border-radius: 100px;
}

.container_1{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.example-full-width .contra{
    margin: 0px 5px;
}

.example-full-width .correo{
    margin: 0px 5px;
}

.button_register{
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-div{
  background-position: center;
  background-size: cover;
  padding: 140px;
  margin: 0px 17vw;
  background-color: red;
}
.my-div2{
  background-position: center;
  background-size: cover;
  padding: 130px;
  margin: 0px 24vw;
  border-radius: 100%;
  background-color: red;
}
.margin-top{
  margin-top: 10px;
}



