<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

<app-navbar [usermain]="usermain"></app-navbar>
<div class="searcher-container"></div>

<div>
    <a  class="back-button">
        <span class="back-icon">&#x2190;</span>
        Regresar
        
    </a>

    <h2 class="title">Registra tu reseña del inmueble rentado</h2>
    
    <form class="form-opinion" [formGroup]="myForm">
        <div class="user-info">
          <h3 class="nav-perfil" style="background-image: url({{usermain.link_foto_perfil}});" href=""></h3>
          <div class="user-info-text">
              <h3 class="title-name">{{usermain.nombre}} {{usermain.apellido_paterno}}</h3>
              <h2 class="sub-title">Escribe tu reseña</h2>
          </div>
        </div>
        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Escribe tu comentario...</ng-template>
                <mat-form-field class="example-full-width">
                    <mat-label>Ingrese su comentario...</mat-label>
                    <textarea formControlName="descripcion" matInput ></textarea>
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Siguiente</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Calificación</ng-template>
                <p>¿Cúanta puntuación le pones a este inmueble?</p>
                <ngb-rating [max]="5" ></ngb-rating>
                <p>Ubicación</p>
                <ngb-rating [max]="5"></ngb-rating>
                <p>Instalaciones</p>
                <ngb-rating [max]="5"></ngb-rating>
                <p>Seguridad</p>
                <ngb-rating [max]="5"></ngb-rating>
                
                <div>
                  <button mat-button matStepperPrevious>Anterior</button>
                  <button mat-button matStepperNext>Siguiente</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Hecho</ng-template>
              <img class="upload-img" [src]="url">
              <input type="file" (change)="onselectFile($event)">
              <br>
              <h2 class="confirmation">Estas seguro que quieres enviar esta reseña?</h2>
              <div>
                <button mat-button matStepperPrevious>Anterior</button>
                <button mat-button >Enviar</button>
              </div>
            </mat-step>
        </mat-stepper>

        
        
    </form>


</div>