<mat-toolbar style="background-color: #006464; height: 100px; padding: 20px 0; justify-content: space-around; ">
    <mat-toolbar-row>
        <div style="display: flex; justify-content: center; align-items: center; justify-items: center;">
            <a href=""><img style="width: 140px;" src='https://i.postimg.cc/6yPynnT5/image.png' alt='image'/></a>
            <a href="" class="nav-logo">Discover</a>
        </div>
        <span class="example-spacer"></span>
        <a href="" class="nav-link">Home</a>
        <a href="" class="nav-link">Publicar</a>
        <a class="nav-perfil" style="background-image: url({{usermain.link_foto_perfil}});" href=""></a>
    </mat-toolbar-row>
</mat-toolbar>